/**
 * @fileoverview µcBlockly specific CSS for index file.
 * @author Blockly Team (https://github.com/google/blockly-samples/tree/master/examples/sample-app-ts)
 * @author scanet@libreducc (Sébastien Canet)
 */

#flex_container_up_right {
  background-color: rgba(247, 240, 228);
}

#flex_container_bottom_down {
  background: rgb(186, 163, 250);
}

flex>flex-resizer {
  background-color: rgb(255, 255, 255);
}